
<h2>Catalog</h2>
<br />

<div class="row">
    <div class="col-xs-6">
        <div>
            <a href="#/OrchestrationBrowse" class="btn btn-primary btn-lg" role="button">Orch.</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div>
            <a href="#/SheetMusBrowse" class="btn btn-primary btn-lg" role="button">Sheet Music</a>
        </div>
    </div>
</div>
</br>

<div class="row">
    <div class="col-xs-6">
        <div>
            <a href="#/SolosBrowse" class="btn btn-primary btn-lg" role="button">Solos</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div>
            <a href="#/SilentBrowse" class="btn btn-primary btn-lg" role="button">Silent</a>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-6">
        <div>
            <a href="#/PianorolBrowse" class="btn btn-primary btn-lg" role="button">Piano rolls</a>
        </div>

    </div>
    <div class="col-xs-6">
        <div>
            <a href="#/78Browse" class="btn btn-primary btn-lg" role="button">78's</a>
        </div>
    </div>
</div>


<br />

<div class="row">
    <div class="col-xs-6">
        <div>
            <a href="#/PrpBrowse" class="btn btn-primary btn-lg" role="button">PRP</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div>
            <a href="#/TracksBrowse" class="btn btn-primary btn-lg" role="button">Media</a>
        </div>
    </div>
</div>